body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.ta {
  color: #ffa500;
}
.flexiable-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 10px;
}
.half-width img {
  width: 80%;
}
.link-me {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-image: linear-gradient(#ffa500, tomato);
  padding: 10px 40px;
  border-radius: 5px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.extra-padding {
  margin-right: 10px;
}
.orange {
  color: #ffa500;
}
.experiences-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
}
.exprience-item {
  width: 80%;
  margin: 0 50px 0 50px;
  padding-left: 20px;
  box-shadow: 10px 10px 40px gray;
}
#baby-web-developer {
  border-left: 6px solid blue;
}
#full-stack-develpoer {
  border-left: 6px solid orangered;
}
footer p {
  text-align: center;
}
